# OMNICHANNEL PLATFORM  EDA

# Problem Statement:

## The company wants to expand across India through an online web market and various offline
## stores. Still, before taking this step, they wanted to be double sure regarding the demand and
## the sector they should target. The company has a limited cash reserve and they want to utilize it
## in the best possible way.

# STEP 1- IMPORT ALL THE REQUIRED LIBRARIES

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# STEP 2- LOAD THE DATASET

In [3]:
df=pd.read_csv(r"C:\Users\palm6\Downloads\crazy_monkey.csv") # to avoide unicode error we used "r"

In [4]:
df.head(10)

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,...,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,38337,3550743,0,1627343,1000,1,61354,3,622,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,29144,3550745,0,1221355,1000,1,26898,4,456,Apparel,...,Men,Pyjamas,-1,-1,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,16576,3550747,3550745,1221355,1000,1,41284,2,200,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,34189,3550749,3550745,1221355,1000,1,53238,2,570,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
5,35537,3550751,3550745,1221355,1000,1,53754,2,572,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Printed Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
6,34903,3550753,3550745,1221355,1000,1,53988,2,570,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
7,10848,3550755,3550745,1221355,1000,1,57490,4,156,Apparel,...,Men,Boxers,-1,-1,100% Cotton,Boxers,Men's Half Printed Boxers,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
8,26798,3550759,0,1627347,1000,1,11536,19,358,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,Samsung Galaxy E7 Mobile Covers,01-01-2016 00:16,Hyderabad,Andhra Pradesh
9,8734,3550761,3550759,1627347,1000,1,19200,19,141,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,Nexus 5 Mobile Covers,01-01-2016 00:16,Hyderabad,Andhra Pradesh

In [5]:
df.shape   # check how many rows and how many columns are there in our DF

(41726, 21)

In [6]:
df.columns # to get all the columns names from DF

Index(['dummy', 'order_id', 'parent_id', 'user_id', 'price', 'quantity',
       'product_id', 'size_id', 'category_id', 'cat_type', 'subtype', 'gender',
       'subclass', 'neck', 'sleeve', 'material', 'product_type', 'prod_name',
       'created_at', 'city', 'state'],
      dtype='object')

In [7]:
df.dtypes  # to check each columns dtype . so we can easily categorise them as numeric and categorical columns.

dummy            int64
order_id         int64
parent_id        int64
user_id          int64
price            int64
quantity         int64
product_id       int64
size_id          int64
category_id      int64
cat_type        object
subtype         object
gender          object
subclass        object
neck            object
sleeve          object
material        object
product_type    object
prod_name       object
created_at      object
city            object
state           object
dtype: object

In [8]:
df.info  # to get info about our DF

<bound method DataFrame.info of        dummy  order_id  parent_id  user_id  price  quantity  product_id  \
0      27288   3550739          0    44879   1000         1       34584
1      38337   3550743          0  1627343   1000         1       61354
2      29144   3550745          0  1221355   1000         1       26898
3      16576   3550747    3550745  1221355   1000         1       41284
4      34189   3550749    3550745  1221355   1000         1       53238
...      ...       ...        ...      ...    ...       ...         ...
41721  27655   3661031          0  1689335   1000         1       24124
41722  27666   3661033    3661031  1689335   1000         1       24164
41723  23824   3661037          0  1456719   1000         1       26550
41724  26768   3661039          0  1686593   1000         1       64826
41725  32766   3661041          0  1088993   1000         1       61786

       size_id  category_id     cat_type  ...  gender       subclass  \
0           19          382  Accessories  ...  Unisex  Mobile Covers
1            3          622      Apparel  ...     Men       T-Shirts
2            4          456      Apparel  ...     Men        Pyjamas
3            2          200      Apparel  ...     Men       T-Shirts
4            2          570      Apparel  ...     Men       T-Shirts
...        ...          ...          ...  ...     ...            ...
41721       19          410  Accessories  ...  Unisex  Mobile Covers
41722       19          410  Accessories  ...  Unisex  Mobile Covers
41723        2          348      Apparel  ...   Women       T-Shirts
41724       11          352      Apparel  ...   Women       T-Shirts
41725        4          528      Apparel  ...     Men    Sweatshirts

             neck sleeve                    material   product_type  \
0              -1     -1  Polycarbonate Hard Plastic  Mobile Covers
1      Round Neck   Full                 100% Cotton       T-Shirts
2              -1     -1                 100% Cotton        Pyjamas
3      Round Neck   Full                 100% Cotton       T-Shirts
4      Round Neck   Full                 100% Cotton       T-Shirts
...           ...    ...                         ...            ...
41721          -1     -1  Polycarbonate Hard Plastic  Mobile Covers
41722          -1     -1  Polycarbonate Hard Plastic  Mobile Covers
41723  Scoop Neck  3/4th                 100% Cotton       T-Shirts
41724  Scoop Neck  3/4th                 100% Cotton       T-Shirts
41725        Hood   Full                 100% Cotton    Sweatshirts

                                        prod_name        created_at  \
0                       OnePlus One Mobile Covers  01-01-2016 00:07
1          Men's Plain Henley Fullsleeve T-Shirts  01-01-2016 00:11
2                             Men's Plain Pyjamas  01-01-2016 00:12
3                Men's Plain Full Sleeve T-Shirts  01-01-2016 00:13
4      Men's Plain Sports Trim Fullsleeve T-Shirt  01-01-2016 00:13
...                                           ...               ...
41721             Samsung Galaxy A5 Mobile Covers   1/30/2016 23:55
41722             Samsung Galaxy A5 Mobile Covers   1/30/2016 23:56
41723           Women's Plain 3/4 Sleeve T-Shirts   1/30/2016 23:58
41724         Women's Printed 3/4 Sleeve T-Shirts   1/30/2016 23:59
41725                 Men's Printed Hoodies (New)   1/30/2016 23:59

              city           state
0           Mumbai     Maharashtra
1           Mumbai     Maharashtra
2        Ghaziabad   Uttar Pradesh
3        Ghaziabad   Uttar Pradesh
4        Ghaziabad   Uttar Pradesh
...            ...             ...
41721       Bhopal  Madhya Pradesh
41722       Bhopal  Madhya Pradesh
41723    Bangalore       Karnataka
41724  BHUBANESWAR          ODISHA
41725    Bhagalpur           Bihar

[41726 rows x 21 columns]>

In [9]:
df["dummy"]  # we will delete dummy column its irrelevent for EDA

0        27288
1        38337
2        29144
3        16576
4        34189
         ...
41721    27655
41722    27666
41723    23824
41724    26768
41725    32766
Name: dummy, Length: 41726, dtype: int64

In [10]:
df["parent_id"] # we will drop parent_id column also

0              0
1              0
2              0
3        3550745
4        3550745
          ...
41721          0
41722    3661031
41723          0
41724          0
41725          0
Name: parent_id, Length: 41726, dtype: int64

In [11]:
# remaining 19 columns we will keep for further analysis

# STEP 3- DATA PREPROCESSING

## LOOK FOR NULL VALUES IN EACH COLUMNS CAREFULLY

In [12]:
df.isnull().sum()

dummy              0
order_id           0
parent_id          0
user_id            0
price              0
quantity           0
product_id         0
size_id            0
category_id        0
cat_type        1552
subtype         1552
gender          1552
subclass        1552
neck            1552
sleeve          1552
material        1552
product_type    1552
prod_name          0
created_at         0
city               0
state             25
dtype: int64

In [13]:
df.isnull().sum()/df.shape[0]*100  # null values in each column percentage wise

dummy           0.000000
order_id        0.000000
parent_id       0.000000
user_id         0.000000
price           0.000000
quantity        0.000000
product_id      0.000000
size_id         0.000000
category_id     0.000000
cat_type        3.719503
subtype         3.719503
gender          3.719503
subclass        3.719503
neck            3.719503
sleeve          3.719503
material        3.719503
product_type    3.719503
prod_name       0.000000
created_at      0.000000
city            0.000000
state           0.059915
dtype: float64

In [14]:
df1=df.copy()

# STEP 4- CLEANING NULL VALUES / DUPLICATE REMOVALS

In [15]:
df1.shape

(41726, 21)

## LETS FIRST DROP ALL IRRELEVANT COLUMNS ONE BY ONE

In [16]:
# since our data set has got null values in the form of NA or blank form therefore we will carefully drop

In [17]:
# we dont need dummy and parent_id columns we will drop both columns from dataset

In [18]:
# Remove column dummy

df1.drop(['dummy'], axis=1,inplace=True)

In [19]:
# Remove column parent_id 

df1.drop(['parent_id'], axis=1,inplace=True)

In [20]:
df1.shape

(41726, 19)

## LETS DELETE ONLY NULL ROWS FROM DF IF EXHISTED

In [21]:
df1.dropna(how='all',inplace=True) # here we dropped/deleted those rows which were completely null if exhisted.

In [22]:
df1.shape

(41726, 19)

## SORRY WE DID NOT ANY HAVE FULLY NULL ROWS SO NO DELETION HAPPEND.

## LETS FIND OUT DUPLICATE ROWS FIRST

In [23]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = df1[df1.duplicated()]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

Empty DataFrame
Columns: [order_id, user_id, price, quantity, product_id, size_id, category_id, cat_type, subtype, gender, subclass, neck, sleeve, material, product_type, prod_name, created_at, city, state]
Index: []

## WE HAVE GOT NO DUPLICATE ROWS IN OUR DATAFRAME

In [24]:
df1.shape

(41726, 19)

# STEP 5- WE WILL CHECK EACH COLUMN ONE BY ONE FOR NULL VALUES,ITS DATATYPE,CATEGORY VERSION,MISSING VERSION ETC

In [25]:
df1.head()

,order_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,3550739,44879,1000,1,34584,19,382,Accessories,Mobile Covers,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,3550743,1627343,1000,1,61354,3,622,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,3550745,1221355,1000,1,26898,4,456,Apparel,Bottomwear,Men,Pyjamas,-1,-1,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,3550747,1221355,1000,1,41284,2,200,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,3550749,1221355,1000,1,53238,2,570,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

In [26]:
df1.shape

(41726, 19)

In [27]:
df1.isnull().sum()

order_id           0
user_id            0
price              0
quantity           0
product_id         0
size_id            0
category_id        0
cat_type        1552
subtype         1552
gender          1552
subclass        1552
neck            1552
sleeve          1552
material        1552
product_type    1552
prod_name          0
created_at         0
city               0
state             25
dtype: int64

## FROM ORDER_ID TO CATEGORY_ID COLUMNS ARE PERFECT WITH NO NULL VAUES

### SINCE NECK AND SLEEVE  AND MATERIALCOLUMNS WERE HAVING -1 AT MANY ROWS AS FAULTY  VALUES SO WE REPLACED ALL OF THEM WITH 0.
###

In [28]:
df["neck"].isnull().sum()

1552

In [29]:
# replace all occurrences of -1 with 0 in the "neck","material" and "sleeve" columns in place

df1.replace('-1', '0',inplace=True)

In [30]:
df1["neck"].value_counts()

0                16676
Round Neck       14456
Scoop Neck        6457
Hood              2063
Collared Neck      350
V Neck             163
Bomber Neck          9
Name: neck, dtype: int64

In [31]:
df1["sleeve"].value_counts()

0             16676
Full          10286
Half           6755
3/4th          4089
Sleeveless     2368
Name: sleeve, dtype: int64

In [32]:
df1["sleeve"].dtypes

dtype('O')

In [33]:
df1["material"].value_counts()

100% Cotton                   33554
Polycarbonate Hard Plastic     6605
0                                15
Name: material, dtype: int64

In [34]:
df1["material"].dtypes

dtype('O')

In [35]:
df1.isnull().sum()

order_id           0
user_id            0
price              0
quantity           0
product_id         0
size_id            0
category_id        0
cat_type        1552
subtype         1552
gender          1552
subclass        1552
neck            1552
sleeve          1552
material        1552
product_type    1552
prod_name          0
created_at         0
city               0
state             25
dtype: int64

## CITY AND STATE COLUMNS HAVE SOMETHING INTERESTING TO MANIPULATE 
## SUCH AS DUPLICACY AND FAULTY VALUES IN THEM.

In [36]:
df1["city"].value_counts()

Mumbai           5848
Bangalore        3878
Pune             2728
Thane            1841
Hyderabad        1655
                 ...
Surathkal           1
Kanchipuramur       1
Ghansoli            1
Karad               1
Malkapur            1
Name: city, Length: 993, dtype: int64

## OUR MOST COLUMNS HAVE NULL VALUES AS NA WE WILL SIMPLY DELETE THOSE ROWS

In [37]:
df1 = df1.dropna()

In [38]:
df1.shape

(40152, 19)

In [39]:
df1["city"].value_counts()

Mumbai           5652
Bangalore        3729
Pune             2640
Thane            1773
Hyderabad        1591
                 ...
Mandi adampur       1
Kadapa              1
Dahanu              1
Miraroad            1
Malkapur            1
Name: city, Length: 986, dtype: int64

In [40]:
df1.isnull().sum() # since we deleted all the rows having NA as null values but still there is much more to clean.

order_id        0
user_id         0
price           0
quantity        0
product_id      0
size_id         0
category_id     0
cat_type        0
subtype         0
gender          0
subclass        0
neck            0
sleeve          0
material        0
product_type    0
prod_name       0
created_at      0
city            0
state           0
dtype: int64

In [41]:
df1.head()

,order_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,3550739,44879,1000,1,34584,19,382,Accessories,Mobile Covers,Unisex,Mobile Covers,0,0,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,3550743,1627343,1000,1,61354,3,622,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,3550745,1221355,1000,1,26898,4,456,Apparel,Bottomwear,Men,Pyjamas,0,0,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,3550747,1221355,1000,1,41284,2,200,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,3550749,1221355,1000,1,53238,2,570,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

In [42]:
df2=df1.copy()

## OUR DATA IS CLEANED.

In [43]:
df2.head()

,order_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,3550739,44879,1000,1,34584,19,382,Accessories,Mobile Covers,Unisex,Mobile Covers,0,0,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,3550743,1627343,1000,1,61354,3,622,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,3550745,1221355,1000,1,26898,4,456,Apparel,Bottomwear,Men,Pyjamas,0,0,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,3550747,1221355,1000,1,41284,2,200,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,3550749,1221355,1000,1,53238,2,570,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

# Q1-The top 3 cities that the company should target

In [44]:
top_cities = df2['city'].value_counts().nlargest(3)
print(top_cities)

Mumbai       5652
Bangalore    3729
Pune         2640
Name: city, dtype: int64

# Q2-Suggestions for online store and products

In [45]:
online_store = df2.groupby(['city', 'category_id', 'prod_name']).size().sort_values(ascending=False).reset_index(name='count')
top_product = online_store.iloc[0]
print(f"Suggest adding {top_product['prod_name']} to the online store and targeting customers in {top_product['city']}.")

Suggest adding Men's Printed T-Shirts to the online store and targeting customers in Mumbai.

# Q3- Top products and product types

In [46]:
top_products = df2['prod_name'].value_counts().nlargest(5)
print(f"Top products: {', '.join(top_products.index)}")

top_product_types = df2['product_type'].value_counts().nlargest(5)
print(f"Top product types: {', '.join(top_product_types.index)}")

Top products: Men's Printed T-Shirts, Men's Printed Full Sleeve T-Shirt, Women's Printed 3/4 Sleeve T-Shirts, Women's Plain 3/4 Sleeve T-Shirts, Men's Printed Pyjamas
Top product types: T-Shirts, Mobile Covers, Pyjamas, Boxers, Joggers

# Q4-Top categories and types

In [47]:
top_categories = df2['category_id'].value_counts().head(5).index.astype(str).tolist()
print(f"Top categories: {', '.join(top_categories)}")

top_subtypes = df2['subtype'].value_counts().head(5).index.astype(str).tolist()
print(f"Top subtypes: {', '.join(top_subtypes)}")

Top categories: 160, 134, 352, 348, 113
Top subtypes: Topwear, Bottomwear, Mobile Covers, Gift Cards

# RFM ANALYSIS

## RFM analysis is a technique used in marketing to segment and analyze customers based on their past behavior. The acronym RFM stands for:

### Recency: When was the last time a customer made a purchase?
### Frequency: How often does the customer make purchases?
### Monetary: How much money has the customer spent on purchases?
### RFM analysis involves assigning a score to each customer based on these three criteria, with higher scores indicating more valuable customers. For example, a customer who made a purchase recently, makes frequent purchases, and spends a lot of money would receive a high RFM score.

### The resulting RFM scores can be used to identify different customer segments and inform marketing strategies, such as targeted promotions or personalized messaging. Additionally, RFM analysis can be used to predict which customers are most likely to make future purchases and to identify customers who are at risk of churn.

In [48]:
df2.head()

,order_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,3550739,44879,1000,1,34584,19,382,Accessories,Mobile Covers,Unisex,Mobile Covers,0,0,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,3550743,1627343,1000,1,61354,3,622,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,3550745,1221355,1000,1,26898,4,456,Apparel,Bottomwear,Men,Pyjamas,0,0,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,3550747,1221355,1000,1,41284,2,200,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,3550749,1221355,1000,1,53238,2,570,Apparel,Topwear,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

# Q5-Analyze the old customers based on RFM(Recency, Frequency, and Monetary Value)

In [50]:
import pandas as pd
from datetime import datetime


# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Calculate the RFM metrics for each customer
today = datetime.today()
rfm = df2.groupby('user_id').agg({
    'created_at': lambda x: (today - x.max()).days,   # Recency
    'order_id': 'count',   # Frequency
    'price': 'sum'   # Monetary Value
}).reset_index()

# Rename the columns for easier interpretation
rfm.columns = ['user_id', 'recency', 'frequency', 'monetary']

# Print the top 10 customers based on monetary value
display(rfm.sort_values('monetary', ascending=False).head(10))

       user_id  recency  frequency  monetary
16164  1654301     2618        108    108000
16070  1653731     2618         66     66000
20633  1682559     2616         34     34000
19508  1675049     2621         29     29000
12893  1635961     2633         21     21000
62        9827     2617         20     20000
10429  1596525     2636         19     19000
11381  1626791     2631         18     18000
16410  1655729     2618         17     17000
17768  1663817     2625         17     17000

# Q6-Analyze the new customers based on RFM

In [52]:
import pandas as pd
from datetime import datetime


# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Define the time period for new customers (e.g., last 30 days)
new_customers_period = datetime.today() - pd.Timedelta(days=30)

# Filter the DataFrame to only include new customers
new_customers = df2[df2['created_at'] >= new_customers_period]

# Calculate the RFM metrics for each new customer
today = datetime.today()
rfm = new_customers.groupby('user_id').agg({
    'created_at': lambda x: (today - x.max()).days,   # Recency
    'order_id': 'count',   # Frequency
    'price': 'sum'   # Monetary Value
}).reset_index()

# Rename the columns for easier interpretation
rfm.columns = ['user_id', 'recency', 'frequency', 'monetary']

# Print the top 10 new customers based on monetary value
print(rfm.sort_values('monetary', ascending=False).head(10))

Empty DataFrame
Columns: [user_id, recency, frequency, monetary]
Index: []

# Q7-Find what the old and new customers are buying, at what time they are buying, and at what day of the month they are buying?

In [54]:
import pandas as pd


# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Group the data by time of day and calculate the number of purchases and the total monetary value
df2['hour'] = df2['created_at'].dt.hour
time_sales = df2.groupby('hour').agg({
    'order_id': 'count',
    'price': 'sum'
}).reset_index()

# Group the data by day of the month and calculate the number of purchases and the total monetary value
df2['day'] = df2['created_at'].dt.day
day_sales = df2.groupby('day').agg({
    'order_id': 'count',
    'price': 'sum'
}).reset_index()

# Print the results
display('Sales by Time of Day:')
display(time_sales)
display('Sales by Day of the Month:')
display(day_sales)

'Sales by Time of Day:'

    hour  order_id    price
0      0      2015  2015000
1      1      1334  1334000
2      2       673   673000
3      3       445   445000
4      4       194   194000
5      5       131   131000
6      6       148   148000
7      7       309   309000
8      8       643   643000
9      9      1031  1031000
10    10      1655  1655000
11    11      2241  2241000
12    12      2379  2379000
13    13      2169  2169000
14    14      2514  2514000
15    15      2206  2206000
16    16      2129  2129000
17    17      2249  2249000
18    18      2209  2209000
19    19      2343  2343000
20    20      2421  2421000
21    21      2722  2722000
22    22      3096  3096000
23    23      2896  2896000

'Sales by Day of the Month:'

    day  order_id    price
0     1       985   985000
1     2      1417  1417000
2     3      1507  1507000
3     4      1356  1356000
4     5      1635  1635000
5     6      1506  1506000
6     7      1485  1485000
7     8      1641  1641000
8     9      1640  1640000
9    10      1585  1585000
10   11      1413  1413000
11   12      1256  1256000
12   13      1400  1400000
13   14      1315  1315000
14   15      1253  1253000
15   16      1377  1377000
16   17      1249  1249000
17   18      1231  1231000
18   19      1265  1265000
19   20      1244  1244000
20   21      1321  1321000
21   22      1254  1254000
22   23      1249  1249000
23   24      1267  1267000
24   25      1162  1162000
25   26      1340  1340000
26   27      1129  1129000
27   28      1166  1166000
28   29      1174  1174000
29   30      1330  1330000

# Q8-Is it fine to launch offers on weekdays or weekends?

In [56]:
import pandas as pd


# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Group the data by day of the week and calculate the total monetary value of sales for each day
df2['day_of_week'] = df2['created_at'].dt.dayofweek
day_sales = df2.groupby('day_of_week').agg({'price': 'sum'}).reset_index()

# Print the results
display('Sales by Day of the Week:')
display(day_sales)

'Sales by Day of the Week:'

   day_of_week    price
0            0  5162000
1            1  5496000
2            2  5279000
3            3  5287000
4            4  6307000
5            5  7013000
6            6  5608000

# Q9-What are some interesting insights that you can infer from the data?

## ANSWERS-->>

## Which products are the most popular among customers
## Which days of the month have the highest sales
## Which times of day have the highest sales
## The distribution of sales across different categories and subcategories
## The average order value and how it varies by customer segment
## The percentage of orders that come from returning customers vs. new customers

# Q10-Which day of the month gets them the best sales?

In [58]:
import pandas as pd


# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Group the data by day of the month and calculate the total monetary value of sales for each day
df2['day_of_month'] = df2['created_at'].dt.day
day_sales = df2.groupby('day_of_month').agg({'price': 'sum'}).reset_index()

# Find the day with the highest sales
best_sales_day = day_sales.loc[day_sales['price'].idxmax()]

# Print the results
display('The day with the best sales is:')
display(best_sales_day)

'The day with the best sales is:'

day_of_month          8
price           1641000
Name: 7, dtype: int64

# Q11-Which day of the month gets them the best sales?

In [63]:
import pandas as pd



# Convert the 'created_at' column to a datetime object
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Which day of the month gets them the best sales?
day_sales = df2.groupby(df2['created_at'].dt.day)['price'].sum().reset_index()
best_day = day_sales.loc[day_sales['price'].idxmax(), 'created_at']
display(f"The best sales day of the month is {best_day}.")

'The best sales day of the month is 8.'

# Q12- At what time of the day their website gets the maximum impressions? (Number of orders)

In [60]:
# At what time of the day their website gets the maximum impressions? (Number of orders)
hour_sales = df2.groupby(df2['created_at'].dt.hour)['order_id'].count().reset_index()
max_hour = hour_sales.loc[hour_sales['order_id'].idxmax(), 'created_at']
print(f"The website gets the maximum impressions at {max_hour} o'clock.")

The website gets the maximum impressions at 22 o'clock.

# Q13-  Are men placing more orders than women?

In [61]:
# Are men placing more orders than women?
gender_sales = df2.groupby('gender')['order_id'].count().reset_index()
if gender_sales.loc[0, 'order_id'] > gender_sales.loc[1, 'order_id']:
    print("Men are placing more orders than women.")
else:
    print("Women are placing more orders than men.")

Men are placing more orders than women.

## Q14- Is it a good idea for the company to open an offline store at this early stage of its start-up journey?
## We'll use a simple heuristic to determine if it's a good idea based on the average order value

In [62]:
# Is it a good idea for the company to open an offline store at this early stage of its start-up journey?
# We'll use a simple heuristic to determine if it's a good idea based on the average order value
avg_order_value = df2.groupby('user_id')['price'].mean().mean()
if avg_order_value > 100:
    print("It may be a good idea to open an offline store.")
else:
    print("It may not be a good idea to open an offline store.")

It may be a good idea to open an offline store.

# END OF THE PROJECT.